# Environment variables
.env
logs/
*.log
node_modules/
pids
*.pid
*.seed
*.pid.lock
coverage/
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
*.tsbuildinfo
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.env.local
.env.production
.cache
.next
.nuxt
dist
.cache/
public
.out/
.storybook-out/
tmp/
temp/
.vscode/
.idea/
*.swp
*.swo
*.moonlink/
data/*.json
.qoder